- hosts: all
  tasks:
    - name: ensure nginx is at the latest version
      yum: 
       name=nginx 
       state=latest
      become: yes
    
    - name: start nginx
      service:
        name: nginx
        state: started
